
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

 <div class="container">
      
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/users/login">Login</a></li>
            <li role="presentation"><a href="/users/register">Register</a></li>
            <li role="presentation"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        
      

      

      <div class="row ">
           <br><br><br>
          {{{body}}}
        

        
      </div>

      <footer class="footer">
        <p>&copy; 2016 div, Inc.</p>
      </footer>

    </div> <!-- /container -->


</body>
</html>